/* Default Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Open Sans', sans-serif, Arial;
    transition: all ease-in-out 250ms;
    width: 100%;
    min-height: 100vh;
    background-color: #2e2e2e;
}

p {
    color: #ffffff;
}

/* Reusable colors/filters */
.white {
    color: #ffffff;
}

.green-dark {
    color: #1c7430;
}

.bold {
    font-weight: bold;
}

/* Currency Selector */

.currency {
    height: 250px;
    text-align: center;
    font-family: 'Roboto', 'Open Sans', sans-serif, Arial;
    padding-top: 35px;
}

.currency-icon {
    text-align: center;
    color: #ffffff;
    font-style: normal;
    font-size: 4em;
    vertical-align: middle;
}

.currency-abbreviation {
    color: #ffffff;
    font-size: 1.3em;
    white-space: nowrap;
}

.currency h1 {
    color: #ffffff;
    font-size: 1.6em;
    vertical-align: middle;
    margin: 0;
}

/* Specific Region Currency Selectors */

.usd {
    background-color: #1cb81c;
}

.eur {
    background-color: #d9950d;
}

.jpy {
    background-color: red;
}

.gbp {
    background-color: #3ecf86;
}

.chf {
    background-color: #355ce8;
}

.cad {
    background-color: #c71c69;
}

.aud {
    background-color: #5110de;
}

.zar {
    background-color: #f25a18;
}

@media screen and (min-width: 768px) {
    .currency:hover {
        cursor: pointer;
    }

    .currency:after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: #ffffff;
        opacity: 0;
    }

    .currency:hover:after {
        opacity: 0.3;
        transition: all ease-in-out 250ms;
    }
}

/* Hide result by default */

.results {
    display: none;
}

/* Adds darkening filter to entire page when results are displayed */

.body-filter {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.8;
    top: 0;
    left: 0;
    z-index: 50;
    display: none;
}

/* Results Container */

.results {
    border-radius: 10px;
    position: fixed;
    top: 20%;
    z-index: 100;
    width: 100%;
}

.results h1, .results p, .results label {
    color: #ffffff;
}

.result-header {
    background-color: #0d0d0c;
    border-bottom: 3px solid white;
    padding: 10px;
}

.result-header h1 {
    font-size: 1.7em;
    display: inline;
    text-align: left;
}

.result-exit {
    float: right;
    margin-right: 0;
    margin-top: 3px;
    padding: 2px 0 0;
    background-color: inherit;
    border: 2px solid #ffffff;
    border-radius: 90px;
    width: 30px;
    height: 30px;
    color: #ffffff;
}

.result-main {
    background-color: #212121;
    text-align: center;
}

.result-input {
    padding-top: 15px;
    display: block;
}

.result-input label {
    padding-right: 5px;
}

.result-input input {
    background-color: #212121;
    border: 2px solid #ffffff;
    border-radius: 45px;
    padding: 0 10px;
    color: #ffffff;
}

.result-data {
    padding-bottom: 15px;
}

.result-data p {
    margin: 10px;
}

/* Results responsiveness */
@media screen and (min-width: 600px) {
    .result-header h1 {
        font-size: 2em;
    }

    .result-exit {
        width: 35px;
        height: 35px;
        font-size: 1.1em;
    }

    .result-main {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 1000px) {
    .results {
        width: 80%;
        left: 10%;
    }

    .result-header {
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }

    .result-main {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}

@media screen and (min-width: 1200px) {
    .result-header h1 {
        font-size: 2.8em;
    }

    .result-exit {
        font-size: 1.6em;
        width: 45px;
        height: 45px;
        border-width: 3px;
    }

    .result-main {
        font-size: 1.5em;
    }

    .result-input {
        padding-top: 40px;
    }

    .result-data {
        padding-bottom: 40px;
        padding-top: 10px;
    }
}

@media screen and (min-width: 1500px) {
    .result-main {
        font-size: 1.7em;
    }
}
